$darkcol: #223;
$lightcol: #fee;
$radius: 6px;

root {
  font-size: 10px;
}

button {
  font-weight: bold;
  color: $darkcol;
  background: $lightcol;
  border: solid 2px $darkcol;
  border-radius: $radius;

  &:hover {
    color: $lightcol;
    background: $darkcol;
    border: solid 2px $lightcol;
  }
  &:active {
    color: $darkcol;
    background: $lightcol;
  }
}

h1, h2, h3 { text-align: center; }

h1 {
  font-size: 1.5rem;
  margin: auto 10px;
}

h2 {
  font-size: 1.2rem;
  margin: auto 6px;
  margin-bottom: 12px;
}

h3 { margin: auto 10px; }

/* --------------------------------- */

.checky {
  $size: 1.2rem;
  display: inline-block;
  position: relative;
  width: $size; height: $size;
  
  input {
    position: absolute;
    opacity: 0; width: 0; height: 0;
  }
  
  span {
    position: absolute;
    top: 0; left: 0; height: calc(1.2rem - 2px); width: $size;
    background: $lightcol;
    border: solid 2px $darkcol;
    border-radius: $radius;
  }

  &:hover input ~ span {
    background: $darkcol;
    border-color: $lightcol;
  }
  &:hover input ~ span:after {
    border-color: $lightcol;
  }
  
  span:after {
    content: "";
    position: absolute;
    display: none;
    border: solid $darkcol;
  }
  
  & input:checked ~ span:after {
    display: block;
    left: $size * 0.34;
    top: $size * 0.05;
    width: $size * 0.25;
    height: $size * 0.45;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  & input:indeterminate ~ span:after {
    display: block;
    left: $size * 0.25;
    top: $size * 0.43;
    width: $size * 0.53;
    border-width: 3px 0 0 0;
  }
}

.switchy {
  $size: 1rem;
  position: relative;
  display: inline-block;
  width: $size * 2;
  height: $size * 0.9;
  
  input { opacity: 0; width: 0; height: 0; }
  
  span {
    position: absolute;
    cursor: pointer;
    top: $size * 0.3; left: 0; right: 0; bottom: 0;
    background-color: $darkcol;
    border-radius: $size * 0.8;
    border: solid 2px $darkcol;
    box-sizing: border-box;
  }
  span:hover {
    background-color: $lightcol;
  }
  
  span:before {
    position: absolute;
    content: "";
    height: $size;
    width: $size;
    left: $size * -0.2;
    bottom: $size * -0.4;
    background-color: $lightcol;
    border: solid 2px $darkcol;
    border-radius: 50%;
  }
  input:hover + span:before {
    background-color: $darkcol;
    border-color: $lightcol;
  }
  
  input:checked + span:before {
    transform: translate($size * 1.01);
  }
}

/* --------------------------------- */

.guaca-config { text-align: center; }
.guaca-config > span { margin: auto 10px; }

.guaca-container {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.guaca-block {
  width: 40%;
  min-width: 320px;
  max-width: 420px;
  flex-grow: 1;
  padding: 2px;
}

.guaca-navbar {
  padding: 3px;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.guaca-histo {
  .guaca-list {
    background: $lightcol;
    border: solid 2px $darkcol;
    border-radius: $radius;
  
    button {
      border-radius: 15px;
    }
  }
  
  .guaca-line {
    border-top: solid 1px $darkcol;
    padding: 1px;
  }

  .guaca-date {
    font-style: italic;
    font-size: 0.8rem;
  }

  .guaca-result {
    display: inline-block;
    width: calc(100% - 32px);
    padding: 1px;
    box-sizing: border-box;
  }
}

.guaca-throwers {
  .guaca-controls, .guaca-thrower, .guaca-selector, .guaca-result {
    display: inline-block;
    box-sizing: border-box;
  }

  .guaca-controls {
    width:25px;
    margin-right: 5px;
  }

  .guaca-result {
    width: 52px;
    margin-left: 5px;
  }

  .guaca-selector {
    text-align: center;

    & > button {
      width: 90px;
    }
  }

  .guaca-thrower, .guaca-selector {
    width: calc(100% - 92px);
  }

  .guaca-thrower {
    border: solid 2px $darkcol;
    border-radius: 12px;
    background-color: $lightcol;
    padding: 0;
    text-align: center;

    .guaca-number {
      width: 2.6rem;
    }

    .guaca-title {
      width: calc(100% - 4px);
      font-weight: bold;
      text-align: center;
      border: none;
      border-radius: 12px 12px 0 0;
    }
    .guaca-title:focus-visible {
      outline: none;
    }
  }

  .guaca-line {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    .guaca-result > button {
      width: 100%;
      padding: 10px 0;
    }
  }
}
